<ion-header >
  <ion-toolbar color="dark" >
    <ion-buttons >
      <ion-back-button slot="start" [text]="'CN_DT.back_btn_text' | translate"  defaultHref="tabs/tab1" ></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
  
  <ion-toolbar >
    <ion-title class="ion-text-center" *ngIf="lang === 'en'">{{country.country}}</ion-title>
    <ion-title class="ion-text-center" *ngIf="lang === 'ar'">{{country.country_ar}}</ion-title>
    <ion-title class="ion-text-center" *ngIf="lang === 'fr'">{{country.country_fr}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-text-center cases" >
    <ion-card>
      <ion-card-header>
        <ion-card-title>
          <ion-text> {{'TAB3.title1' | translate}} </ion-text>
        </ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-text class="total-cases" >{{country.cases}}</ion-text>
      </ion-card-content>
    </ion-card>
  </div>

<div class="deatil-cases" >
  <div class="ion-text-center active-cases" >
    <ion-card>
      <ion-card-header>
        <ion-card-title>
          <ion-text>{{'TAB3.title2' | translate}}</ion-text>
        </ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-grid>
          <ion-row>
            <ion-col>
              <ion-text >{{'TAB3.title3' | translate}}</ion-text><br>
              <ion-text >{{country.activeCases}}</ion-text>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="6" >
              <ion-text>{{'TAB3.title4' | translate}}</ion-text><br>
              <ion-text color="primary" >{{country.activeCases - country.critical}}</ion-text>
            </ion-col>
            <ion-col size="6">
              <ion-text>{{'TAB3.title5' | translate}}</ion-text><br>
              <ion-text color="danger" >{{country.critical}}</ion-text>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-content>
    </ion-card>
  </div>
  <div class="ion-text-center closed-cases" >
    <ion-card>
      <ion-card-header>
        <ion-card-title>
          {{'TAB3.title6' | translate}}
        </ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-grid>
          <ion-row>
            <ion-col>
              <ion-text>{{'TAB3.title7' | translate}}</ion-text><br>
              <ion-text color="tertiary" >{{country.cases - country.activeCases}}</ion-text>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-text>{{'TAB3.title8' | translate}}</ion-text><br>
              <ion-text color="success" >{{country.recovered}}</ion-text>
            </ion-col>
            <ion-col>
              <ion-text>{{'TAB3.title9' | translate}}</ion-text><br>
              <ion-text color="secondary" >{{country.deathes}}</ion-text>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-content>
    </ion-card>
  </div>
</div>

<div style="margin-top: 25px;">
  <ion-card>
    <ion-header> 
      <ion-card-title class="ion-text-center">
        {{'TAB3.title10' | translate}}
      </ion-card-title>
    </ion-header>
    <ion-card-content>
      <canvas height="250" #doughnutCanvas></canvas>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-header> 
      <ion-card-title class="ion-text-center">
        {{'TAB3.title12' | translate}}
      </ion-card-title>
    </ion-header>
    <ion-card-content>
      <canvas height="250" #totalDeathsCanvas></canvas>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-header> 
      <ion-card-title class="ion-text-center">
        {{'TAB3.title13' | translate}}
      </ion-card-title>
    </ion-header>
    <ion-card-content>
      <canvas height="250" #mixedCanvas1></canvas>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-header> 
      <ion-card-title class="ion-text-center">
        {{'TAB3.title14' | translate}}
      </ion-card-title>
    </ion-header>
    <ion-card-content>
      <canvas height="250" #dailyNewCases></canvas>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-header> 
      <ion-card-title class="ion-text-center">
        {{'TAB3.title15' | translate}}
      </ion-card-title>
    </ion-header>
    <ion-card-content>
      <canvas height="250" #dailyDeaths></canvas>
    </ion-card-content>
  </ion-card>
</div>


</ion-content>
